<link rel="stylesheet" href="/stylesheets/style.css">

<div class="errorBox">

    <h1 class="errorTitle">
        Something went wrong
    </h1>

    <p class="errorMsg">
        {{message}}
    </p>

    <a href="/" class="btnHome">
        Go Home
    </a>

</div>
