<link rel="stylesheet" href="/stylesheets/style.css">

<div class="homeWrap">

    <h1 class="homeTitle">CPLANIFY</h1>

    <p class="homeSub">Your retro-styled personal planner.</p>

    <div class="homeBtns">
        <a href="/auth/login" class="btnHome">Login</a>
        <a href="/auth/register" class="btnHome">Create Account</a>
        <a href="/events/public" class="btnHome">Public Calendar</a>
    </div>

<p class="signature">By — Tanishq Pratap Singh</p>
</div>
