{{!-- Home page for CPlanify --}}
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="homeBox">


    <h1 class="mainTitle">
        {{title}}
    </h1>

    <p class="welcomeTxt">
        Plan stuff, keep track of events and just make life easier :)
    </p>

    <div class="homeBtns">

        <a href="/auth/login" class="btnHome">
            Login
        </a>

        <a href="/auth/register" class="btnHome sec">
            Create Account
        </a>

    </div>

</div>
